@use "./styles/layout";
@use "./styles/flexbox";
@use "./styles/material";

.Home {
  @include layout.mainSection;
  padding-bottom: 40px;

  .header {
    @include material.shadow(1);
    @include flexbox.centered;

    height: 30px;
    font-weight: 200;
    margin-bottom: 10px;
  }
  .section {
    padding: 10px;
    margin-bottom: 40px;
    .name {
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
}
