@use "../../../styles/flexbox";
@use "../../../styles/material";
.Navigator {
  @include material.shadow(5);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  background: white;

  .item {
    @include flexbox.centered;
    flex: 1 1 0;
    width: 0;
    &.current {
      background: #212121;
      color: white;
    }
  }
}
